#OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/


# Python
__pycache__/
*.pyc
.venv/
venv/

# Ansible
*.retry
ansible/.vault_pass
ansible/vault-password.txt

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars


# Logs
*.log

# Secrets
*.pem
*.key
*.crt
*.env
secrets/

# Ansible Vault local secrets
ansible/.vault_pass.txt
ansible/inventories/dev/group_vars/all/vault.yml
ansible/inventories/prod/group_vars/all/vault.yml

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform generated local files
terraform/**/generated/

# Terraform local variable files
*.tfvars
!*.tfvars.example

# Terraform backend local configuration files
**/backend.hcl
!**/backend.hcl.example
