---
apiVersion: 1

providers:
  - name: "{{ grafana_dashboard_provider_name }}"
    orgId: 1
    folder: "{{ grafana_dashboard_folder_name }}"
    type: file
    disableDeletion: false
    editable: true
    options:
      path: "{{ grafana_dashboards_dir }}"
